body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #ABBEAD;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-container {
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 90%;
}

.logo-title {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  justify-content: center;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.title {
  font-family: 'Lemonada', cursive;
  font-size: 24px;
  color: #266071;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.auth-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.auth-form h2 {
  color: #266071;
  text-align: center;
  margin-bottom: 10px;
}

.auth-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.auth-form button {
  background-color: #759175;
  color: white;
  border: none;
  padding: 12px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}

.auth-form button:hover {
  background-color: #5f7f60;
}

.auth-form p {
  font-size: 14px;
  text-align: center;
}

.auth-form a {
  color: #266071;
  text-decoration: none;
  font-weight: bold;
}

.auth-form a:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}